
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ .Site.Title }}</title>
	<link rel="stylesheet" href="/css/main.css" media="screen, projection">
	<link rel="stylesheet" href="/css/md.css" media="screen, projection">
</head>
<header>
	<div>
		<a href="{{ .Site.BaseURL }}">
			<h1>“心无所恃，随遇而安”</h1>
		</a>
	</div>

	<div id="banner">
	<h2>世界，你好！</h2>
	</div>

	<!-- <div id="github">
		<a href="https://github.com/hivenyang" target="view_window">
			<img src="/images/fluidicon.png">
		</a>
	</div> -->

</header>